<!DOCTYPE html>
<html>
<body>
<meta charset="UTF-8">
<a href="http://www.runoob.com">ESP_8266 測試連接按鈕</a>

<h1>ESP_8266 WeMoseD1 R2測試</h1>
<form>
        SSID: <input type="text" name="SSID"><br>
        PWD: <input type="text" name="PWD">
</form>
<button type="button" onclick="myFunction()">Conect</button>

<form>
        SENDUUL:<input type="text" name="SENDUUL"><br>
        KEYID:<input type="text" name="KEYID"><br>
        UPTIME(30):<input type="text" name=" UPTIME">
</form>

<button type="button" onclick="myFunction()">SETUP</button>

<script>

function myFunction() {


}

</script>
    
</body>
</html>