<!DOCTYPE html>
<html>

<head>
    <title>選單首頁</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 15%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <meta charset="utf-8">
    <h2>WineCellar</h2>
    <table>
        <tr>
            <th>名稱</th>
            <th> </th>

        </tr>
        <tr>
            <td>sensor_1</td>
            <td><input type="button" value="check1" onclick="location.href='/scart.html?key=S5M0RSWXO1N8DUVR'"
                    style="width:100px;height:40px;font-size:20px;"></td>
        </tr>
        <tr>
            <td>sensor_2</td>
            <td><input type="button" value="check2" onclick="location.href='/scart.html?key=7H3W0YBKSX4FUB9H'"
                    style="width:100px;height:40px;font-size:20px;"></td>
        </tr>
    </table>

</body>

</html>